<h1>The Mars Rover Challenge</h1>
<h1>Below are all variables being submitted:</h1>
<p>Size of Plateau - X Co-ordinate: <%= @mrinput.sopx %></p>
<p>Size of Plateau - Y Co-ordinate: <%= @mrinput.sopy %></p>
<p>1st Rover Position - X Co-ordinate: <%= @mrinput.r1px %></p>
<p>1st Rover Position - Y Co-ordinate: <%= @mrinput.r1py %></p>
<p>1st Rover Direction Facing: <%= @mrinput.r1pface %></p>
<p>1st Rover Instruction Set: <%= @mrinput.inst1 %></p>
<p>2nd Rover Position - X Co-ordinate: <%= @mrinput.r2px %></p>
<p>2nd Rover Position - Y Co-ordinate: <%= @mrinput.r2py %></p>
<p>2nd Rover Direction Facing: <%= @mrinput.r2pface %></p>
<p>2nd Rover Instruction Set: <%= @mrinput.inst2 %></p>
<%= link_to "Next", outputprocs_index_path, :class => 'btn btn-primary' %>