<h1>Show view - after filling out form and submitting</h1>
<h1>Below are all variables being submitted:</h1>
<h2><%= @mrinput.sopx %></h2>
<h2><%= @mrinput.sopy %></h2>
<h2><%= @mrinput.r1px %></h2>
<h2><%= @mrinput.r1py %></h2>
<h2><%= @mrinput.r1pface %></h2>
<h2><%= @mrinput.inst1 %></h2>
<h2><%= @mrinput.r2px %></h2>
<h2><%= @mrinput.r2py %></h2>
<h2><%= @mrinput.r2pface %></h2>
<h2><%= @mrinput.inst2 %></h2>
<%= link_to "See Output", outputprocs_index_path, :class => 'btn btn-primary' %>